extends ../layout

block page_css
	link(href="/css/index.css",rel="stylesheet")

block content
	h1.site-name #{title}
	article.container
		ul.article-list
			each article in articleList
				li(class="article")
					a(href="#{article.href}#{isBuild ? '.html' : ''}", class="article-title") #{article.title}
					div.abstract #{article.abstract}